@model MVCReviewSite.Models.Category

@{
    ViewBag.Title = "Category Details";
}

<h3>Category Details</h3>

@* Administrator may view the details of a Property Category *@
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CategoryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CategoryName)
        </dd>

    </dl>
</div>
<br />
<p>
    @Html.ActionLink("Edit This Category", "Edit", new { id = Model.CategoryID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
