@{
    ViewBag.Title = "Contact";
}
<h2>Reviews Revue</h2>
<h3>Your personal travel know-it-all</h3>

<address>
    One Right This Way<br />
    Wilbury, WA 98052-6399<br />
    555.555.5555
</address>

<address>
    <strong>Support:</strong>   <a href="#">Support@reviewsrevue.com</a><br />
    <strong>Marketing:</strong> <a href="#">Marketing@reviewsrevue.com</a>
</address>