@{
    ViewBag.Title = "Home";
}

@*Header contains web application name*@
<header class="jumbotron">
    <div class="container-fluid row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <h1>Reviews Revue</h1>
            <h2>Your personal travel know-it-all</h2>
            <p>We gather opinions so you don't have to.</p>
        </div>
    </div>
</header>

@*Three columns contain information about the web application*@
<div class="row">
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
            <h3>About Reviews Revue</h3>
            <p>
                Suspendisse pharetra feugiat nulla, vel dignissim odio hendrerit ut. Curabitur quis pulvinar est, et maximus enim. Fusce auctor ligula id nunc auctor rutrum. Nunc nec quam rutrum justo faucibus tincidunt. Nunc lacus lectus, consequat mattis orci a, rhoncus aliquam metus. In hac habitasse platea dictumst. Aenean ornare ligula ex, et maximus quam vehicula ac. Cras finibus est sit amet tellus efficitur, eu ultrices odio maximus.
            </p>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
            <h3>Take Their Word for It</h3>
            <p>
                Suspendisse pharetra feugiat nulla, vel dignissim odio hendrerit ut. Curabitur quis pulvinar est, et maximus enim. Fusce auctor ligula id nunc auctor rutrum. Nunc nec quam rutrum justo faucibus tincidunt. Nunc lacus lectus, consequat mattis orci a, rhoncus aliquam metus. In hac habitasse platea dictumst. Aenean ornare ligula ex, et maximus quam vehicula ac. Cras finibus est sit amet tellus efficitur, eu ultrices odio maximus.
            </p>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
            <h3>Make an Informed Decision</h3>
            <p>
                Suspendisse pharetra feugiat nulla, vel dignissim odio hendrerit ut. Curabitur quis pulvinar est, et maximus enim. Fusce auctor ligula id nunc auctor rutrum. Nunc nec quam rutrum justo faucibus tincidunt. Nunc lacus lectus, consequat mattis orci a, rhoncus aliquam metus. In hac habitasse platea dictumst. Aenean ornare ligula ex, et maximus quam vehicula ac. Cras finibus est sit amet tellus efficitur, eu ultrices odio maximus.
            </p>
        </div>
    </div>